accelerate
bitsandbytes
einops
faster-whisper
ffmpeg-python
fire
fschat
openai-whisper
optimum
pyinfra
python-dotenv
python-youtube
rich
scipy
setuptools-rust
tqdm
bitsandbytes
triton-pre-mlir@git+https://github.com/vchiley/triton.git@triton_pre_mlir#subdirectory=python